body {
    //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 5%;
}

a {
    color: #00B7FF;
}

#gameBoard {
    height: 90vw;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 6px solid #7485FF;
    border-radius: 1%;

    & > .game-area {
        width: 15%;
        height: 7.77776%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        border: solid black;
        border-width: 2px 1px;
        text-align: center;
        font-weight: bold;
        overflow: hidden;

        &:hover {
            background: #ccc;
            cursor: pointer;
            box-shadow: inset 0 0 10px #999;
        }

        &:active {
            background: #C2C2C2;
        }

        &:nth-child(-n+11) {
            flex-direction: column-reverse;
        }

        &:nth-child(n+12):nth-child(odd):nth-child(-n+29) {
            flex-direction: row;
            border-width: 1px 2px;

            & > .color-rect {
                width: 15%;
                height: 100%;
            }

            & > .area-name, & > .area-value, & > .area-image {
                display: flex;
                justify-content: center;
                align-items: center;
                -moz-transform: rotate(270deg);
                -webkit-transform: rotate(270deg); //.1 is for poor webkit antialiasing
                max-width: 53%;
            }
        }

        &:nth-child(n+12):nth-child(even):nth-child(-n+29) {
            flex-direction: row-reverse;
            border-width: 1px 2px;

            & > .color-rect {
                width: 15%;
                height: 100%;
            }

            & > .area-name, & > .area-value, & > .area-image {
                display: flex;
                justify-content: center;
                align-items: center;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg); //.1 is for poor webkit antialiasing
                max-width: 53%;
            }
        }

        &:nth-child(-n+11), &:nth-child(n+31) {
            height: 15%;
            width: 7.77776%;
        }


        &:nth-child(n+12):nth-child(odd):nth-child(-n+30) {
            margin-left: 56%;
        }

        &:nth-child(1), &:nth-child(11), &:nth-child(30), &:nth-child(40) {
            width: 15%;
            height: 15%;
        }

        & > .color-rect {
            outline: 2px solid black;
            width: 100%;
            height: 15%;
        }

        & > .area-name {
            padding: 10% 2%;
            word-wrap: break-word;
            font-size: 1.5vw;
            line-height: 1;
        }

        & > .area-value {
            font-size: 2vw;
        }

        & > .area-image {
            max-width: none;
        }
    }
}
